.titre {
    text-align: center;
}
.commentaire {
    text-align: center;
}






.haut {
    background-color: white;
}

.branding1 {

}
.branding2 { 
    width:100px;
    height:100px;

}

.learn more {
    text-align: center;

}

.droite {

}